.card-wrapper {
  display: inline-block;
  padding: 6px;
  border: 4px solid #d3dbd1;
  border-radius: 28px;
  background-color: #e5e7eb;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.card-wrapper:hover {
  
  transform: scale(1.1) rotate(5deg);
  background-color: var(--hover-color); 
  /* Use dynamic hover color */
}

.card {
  width: 120px;
  height: 135px;
  background-color: #ffffff;
  border-radius: 28px;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Circle indicator */
.indicator {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid #39FF14;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* Optional: Add hover effect for images */
.card-wrapper:hover .circle img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Main content area */
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  text-align: center;
}
